<div class="container">
    <div class="col-sm-12"><h1><strong>My English Profile</strong></h1><hr></div>
    <form class="form-horizontal" role="form" action="/write" method="POST">
      <div class="form-group">
        <label class="control-label col-sm-2" for="name">Name:</label>
        <div class="col-sm-5">
          <input name="myname" type="text" class="form-control" id="name" placeholder="e.g. Jay Mincheol Cho">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="major">1st Major:</label>
        <div class="col-sm-5">
          <input name="mymajor1" type="text" class="form-control" id="name" placeholder="e.g. English literature">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="major">2nd Major:</label>
        <div class="col-sm-5">
          <input name="mymajor2" type="text" class="form-control" id="name" placeholder="e.g. Business administration">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="major">Grade:</label>
        <div class="col-sm-5">
          <input name="mygrade" type="text" class="form-control" id="name" placeholder="e.g. freshman / sophomore / junior / senior">
        </div>
      </div>
      <hr>
      
      <div class="form-group">
        <label class="control-label col-sm-2" for="major">Club activity:</label>
        <div class="col-sm-5">
          <input name="myclub" type="text" class="form-control" id="name" placeholder="e.g. drama club">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="major">First joined:</label>
        <div class="col-sm-5">
          <input name="myclubjoin" type="text" class="form-control" id="name" placeholder="e.g. sophomore">
        </div>
      </div>
      
      <hr>
      <div class="form-group"> 
        <div class="col-sm-offset-1 col-sm-10">
          <button type="submit" class="btn btn-default">Submit</button>
        </div>
      </div>
    </form>
</div>